//--------------------------------------------------------------------------------------------------------------
//--------------------------------------------------COLORES-----------------------------------------------------
//--------------------------------------------------------------------------------------------------------------



$titulo-seccion: #E6E6E6;

/*------------------------------------*/


$black: #000;
$white: #fff;

/*------------------------------------*/
$red: #f00;

$redIlum10: lighten($red, 10%);
$redIlum20: lighten($red, 20%);
$redIlum30: lighten($red, 30%);
$redIlum40: lighten($red, 40%);
$redIlum50: lighten($red, 50%);
$redIlum60: lighten($red, 60%);
$redIlum70: lighten($red, 70%);
$redIlum80: lighten($red, 80%);
$redIlum90: lighten($red, 90%);
$redIlum100: lighten($red, 100%);

$redOsc10: darken($red, 10%);
$redOsc20: darken($red, 20%);
$redOsc30: darken($red, 30%);
$redOsc40: darken($red, 40%);
$redOsc50: darken($red, 50%);
$redOsc60: darken($red, 60%);
$redOsc70: darken($red, 70%);
$redOsc80: darken($red, 80%);
$redOsc90: darken($red, 90%);
$redOsc100: darken($red, 100%);

/*------------------------------------*/
$blue: #00f;

$blueIlum10: lighten($blue, 10%);
$blueIlum20: lighten($blue, 20%);
$blueIlum30: lighten($blue, 30%);
$blueIlum40: lighten($blue, 40%);
$blueIlum50: lighten($blue, 50%);
$blueIlum60: lighten($blue, 60%);
$blueIlum70: lighten($blue, 70%);
$blueIlum80: lighten($blue, 80%);
$blueIlum90: lighten($blue, 90%);
$blueIlum100: lighten($blue, 100%);

$blueOsc10: darken($blue, 10%);
$blueOsc20: darken($blue, 20%);
$blueOsc30: darken($blue, 30%);
$blueOsc40: darken($blue, 40%);
$blueOsc50: darken($blue, 50%);
$blueOsc60: darken($blue, 60%);
$blueOsc70: darken($blue, 70%);
$blueOsc80: darken($blue, 80%);
$blueOsc90: darken($blue, 90%);
$blueOsc100: darken($blue, 100%);

/*------------------------------------*/
$green: #0f0;

$greenIlum10: lighten($green, 10%);
$greenIlum20: lighten($green, 20%);
$greenIlum30: lighten($green, 30%);
$greenIlum40: lighten($green, 40%);
$greenIlum50: lighten($green, 50%);
$greenIlum60: lighten($green, 60%);
$greenIlum70: lighten($green, 70%);
$greenIlum80: lighten($green, 80%);
$greenIlum90: lighten($green, 90%);
$greenIlum100: lighten($green, 100%);

$greenOsc10: darken($green, 10%);
$greenOsc20: darken($green, 20%);
$greenOsc30: darken($green, 30%);
$greenOsc40: darken($green, 40%);
$greenOsc50: darken($green, 50%);
$greenOsc60: darken($green, 60%);
$greenOsc70: darken($green, 70%);
$greenOsc80: darken($green, 80%);
$greenOsc90: darken($green, 90%);
$greenOsc100: darken($green, 100%);

/*------------------------------------*/
























