//--------------------------------------------------------------------------------------------------------------
//-------------------------------------------------TIPOGRAFIA---------------------------------------------------
//--------------------------------------------------------------------------------------------------------------

//$textos-------------------------------------------------------------------------------------------------------


$ff-def: system-ui; //----- ff(6)
$ff-1: 'Lobster'; //----- ff(1)
$ff-2: 'VarelaRound'; //----- ff(2)
$ff-3: $ff-def; //----- ff(3)
$ff-4: $ff-def; //----- ff(4)
$ff-5: $ff-def; //----- ff(5)

$fs-1: 30px; //----- fs(1)
$fs-2: 25px; //----- fs(2)
$fs-3: 20px; //----- fs(3)
$fs-4: 15px; //----- fs(4)
$fs-5: 10px; //----- fs(5)

$fs-default: 16px;
