/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-*/
/*-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-*/
/*------------------------------------------------------------------------------------*/
/*----------------------------------------Breakpoints---------------------------------*/
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*--------------------------------Medidas-Responsive----------------------------------*/
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*---------------------------------Imagen Reponsive-----------------------------------*/
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*---------------------------------Imagen Reponsive-----------------------------------*/
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*--------------------------------------Figuras---------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*---------------------------------Scroll-Bar-----------------------------------------*/
/*------------------------------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .3);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #646464;
}

/*-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-*/
@font-face {
  font-family: 'Lobster';
  src: url("fonts/Lobster-Regular.ttf") format("opentype");
}

@font-face {
  font-family: 'VarelaRound';
  src: url("fonts/VarelaRound-Regular.ttf") format("opentype");
}

::-moz-selection {
  background: rgba(100, 100, 100, .5);
}

::selection {
  background: rgba(100, 100, 100, .5);
}

html, body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

h1, h2, h3, h4, h5, h6, p, a, span, blockquote, ul, li {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
}

a {
  text-decoration: none;
  color: #000;
  outline: 0;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  outline: 0;
}

li {
  list-style: none;
}

textarea {
  outline: 0;
}

.container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.alignleft {
  float: left;
  max-width: calc(50% - 60px);
  max-width: 50%;
  margin-left: 0;
  margin-right: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
  display: inline-block;
}

.aligncenter {
  max-width: 100%;
  clear: both;
  display: block;
  margin: 60px auto;
}

.alignright {
  float: right;
  max-width: 50%;
  margin-right: 0;
  margin-left: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
  display: inline-block;
}

/*-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-*/
@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-*/
.back-home {
  padding-bottom: 50px;
  padding-top: 50px;
}

.back-home .home {
  text-align: center;
}

.back-home .home .titulo-general {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.back-home .home .titulo-general h1 {
  cursor: pointer;
}

.back-home .home .titulo-general h1 span {
  font-size: 48px;
  line-height: 50px;
  font-weight: bold;
  font-family: "Lobster";
}

.back-home .home .descripcion {
  margin-bottom: 20px;
  margin-right: 50px;
  margin-right: 3.125rem;
  margin-left: 50px;
  margin-left: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.back-home .home .descripcion h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  font-family: "Lobster";
}

.back-home .home .descripcion p {
  margin-bottom: 30px;
  text-align: center;
  font-size: 22px;
  line-height: 24px;
  font-weight: normal;
  font-family: "VarelaRound";
}

.back-home .home .btn-color {
  -webkit-transition: .1s;
  transition: .1s;
  cursor: pointer;
  width: 100px;
  padding: 30px;
  background-color: #45E069;
  -webkit-box-shadow: 0 5px 0px 0 #28803C;
  box-shadow: 0 5px 0px 0 #28803C;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.back-home .home .btn-color:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.back-home .home .btn-color:hover p {
  text-shadow: 0 0 5px #fff;
}

.back-home .home .btn-color p {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  font-family: "VarelaRound";
  -webkit-transition: .3s;
  transition: .3s;
  color: #fff;
}

.back-home .home .caja-fondo {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 10px 0 #000;
  box-shadow: 0 3px 10px 0 #000;
  padding-top: 30px;
  padding-top: 1.875rem;
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
}

.back-home .home .caja-color-back {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.back-home .home .caja-color-back .titulo {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.back-home .home .caja-color-back .titulo h2 {
  font-size: 32px;
  line-height: 34px;
  font-weight: normal;
  font-family: "Lobster";
}

.back-home .home .caja-color-back .back-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.back-home .home .caja-color-tono {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.back-home .home .caja-color-tono .titulo {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.back-home .home .caja-color-tono .titulo h2 {
  font-size: 32px;
  line-height: 34px;
  font-weight: normal;
  font-family: "Lobster";
}

.back-home .home .caja-color-tono .btns {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  grid-gap: 0em;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[2];
      grid-template: 1fr/repeat(2, 1fr);
  justify-items: center;
}

.back-home .home .caja-color-tono .btns .btn-color:nth-of-type(1), .back-home .home .caja-color-tono .btns .btn-color:nth-of-type(2) {
  margin-bottom: 30px;
}

.back-home .home .caja-color-opacidad {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.back-home .home .caja-color-opacidad .titulo {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.back-home .home .caja-color-opacidad .titulo h2 {
  font-size: 32px;
  line-height: 34px;
  font-weight: normal;
  font-family: "Lobster";
}

.back-home .home .caja-color-opacidad .btns {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  grid-gap: 0em;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[2];
      grid-template: 1fr/repeat(2, 1fr);
  justify-items: center;
}

.back-home .home .caja-color-opacidad .btns .btn-color:nth-of-type(1), .back-home .home .caja-color-opacidad .btns .btn-color:nth-of-type(2) {
  margin-bottom: 30px;
}

@media screen and (max-width: 1480px) {
  .container {
    width: calc(100% - 80px);
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1024px) {
  .back-home {
    padding-bottom: calc(-6.47059px + 5.51471vw);
  }
  .back-home {
    padding-top: calc(-6.47059px + 5.51471vw);
  }
  .back-home .home .titulo-general h1 span {
    font-size: calc(25.41176px + 2.20588vw);
  }
  .back-home .home .titulo-general h1 span {
    line-height: calc(27.41176px + 2.20588vw);
  }
  .back-home .home .descripcion h2 {
    font-size: calc(12.70588px + 1.10294vw);
  }
  .back-home .home .descripcion h2 {
    line-height: calc(14.70588px + 1.10294vw);
  }
  .back-home .home .descripcion p {
    margin-bottom: calc(11.17647px + 1.83824vw);
  }
  .back-home .home .descripcion p {
    font-size: calc(10.70588px + 1.10294vw);
  }
  .back-home .home .descripcion p {
    line-height: calc(12.70588px + 1.10294vw);
  }
  .back-home .home .btn-color p {
    font-size: calc(12.23529px + 0.36765vw);
  }
  .back-home .home .btn-color p {
    line-height: calc(14.23529px + 0.36765vw);
  }
  .back-home .home .caja-color-back {
    margin-bottom: calc(-25.29412px + 7.35294vw);
  }
  .back-home .home .caja-color-back .titulo h2 {
    font-size: calc(16.94118px + 1.47059vw);
  }
  .back-home .home .caja-color-back .titulo h2 {
    line-height: calc(18.94118px + 1.47059vw);
  }
  .back-home .home .caja-color-tono {
    margin-bottom: calc(-25.29412px + 7.35294vw);
  }
  .back-home .home .caja-color-tono .titulo h2 {
    font-size: calc(16.94118px + 1.47059vw);
  }
  .back-home .home .caja-color-tono .titulo h2 {
    line-height: calc(18.94118px + 1.47059vw);
  }
  .back-home .home .caja-color-opacidad {
    margin-bottom: calc(-25.29412px + 7.35294vw);
  }
  .back-home .home .caja-color-opacidad .titulo h2 {
    font-size: calc(16.94118px + 1.47059vw);
  }
  .back-home .home .caja-color-opacidad .titulo h2 {
    line-height: calc(18.94118px + 1.47059vw);
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
  }
  .alignleft {
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .aligncenter {
    margin: 20px auto;
  }
  .alignright {
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .back-home .home .caja-color-tono .btns {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: (1fr)[2];
        grid-template: 1fr/repeat(2, 1fr);
  }
  .back-home .home .caja-color-opacidad .btns {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: (1fr)[2];
        grid-template: 1fr/repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
  }
  .back-home {
    padding-bottom: 20px;
  }
  .back-home {
    padding-top: 20px;
  }
  .back-home .home .titulo-general h1 span {
    font-size: 36px;
  }
  .back-home .home .titulo-general h1 span {
    line-height: 38px;
  }
  .back-home .home .descripcion h2 {
    font-size: 18px;
  }
  .back-home .home .descripcion h2 {
    line-height: 20px;
  }
  .back-home .home .descripcion p {
    margin-bottom: 20px;
  }
  .back-home .home .descripcion p {
    font-size: 16px;
  }
  .back-home .home .descripcion p {
    line-height: 18px;
  }
  .back-home .home .btn-color p {
    font-size: 14px;
  }
  .back-home .home .btn-color p {
    line-height: 16px;
  }
  .back-home .home .caja-color-back {
    margin-bottom: 10px;
  }
  .back-home .home .caja-color-back .titulo h2 {
    font-size: 24px;
  }
  .back-home .home .caja-color-back .titulo h2 {
    line-height: 26px;
  }
  .back-home .home .caja-color-tono {
    margin-bottom: 10px;
  }
  .back-home .home .caja-color-tono .titulo h2 {
    font-size: 24px;
  }
  .back-home .home .caja-color-tono .titulo h2 {
    line-height: 26px;
  }
  .back-home .home .caja-color-tono .btns {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: (1fr)[1];
        grid-template: 1fr/repeat(1, 1fr);
  }
  .back-home .home .caja-color-tono .btns .btn-color:nth-of-type(3) {
    margin-bottom: 30px;
  }
  .back-home .home .caja-color-tono .btns .btn-color:last-child {
    margin-bottom: 0;
  }
  .back-home .home .caja-color-opacidad {
    margin-bottom: 10px;
  }
  .back-home .home .caja-color-opacidad .titulo h2 {
    font-size: 24px;
  }
  .back-home .home .caja-color-opacidad .titulo h2 {
    line-height: 26px;
  }
  .back-home .home .caja-color-opacidad .btns {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: (1fr)[1];
        grid-template: 1fr/repeat(1, 1fr);
  }
  .back-home .home .caja-color-opacidad .btns .btn-color:nth-of-type(3) {
    margin-bottom: 30px;
  }
  .back-home .home .caja-color-opacidad .btns .btn-color:last-child {
    margin-bottom: 0;
  }
}
